:root {
  --highlight: #F89406;
  --highlight-w: #BE90D4;
  --highlight-m: #19B5FE;
  --highlight-str: #DB0A5B;
  --line-height: 48px;
  --font-size: 32px;
}

body {
  box-sizing: border-box;
  background-color: #F5D76E;
  font-family: 'Josefin Slab', serif;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.Formula {
  line-height: 1.4;
}

/*.Formula__result {
  border: 3px solid var(--highlight-m);
}
.Formula__first {
  background-color: var(--highlight);
}
.Formula__second {
  background: var(--highlight-str);
}

.Setting {
  margin-bottom: 4rem;
}
.Setting__prop {
  font-size: 1rem;
}

.Font {
  font-size: var(--font-size);
  margin: 3rem;
}
.Font__serif {
  font-family: 'Josefin Slab', serif;
  background-color: var(--highlight);
  display: none;
}
.Font__line {
  background-color: var(--highlight);
  font-weight: 100;
  line-height: 1;
  position: relative;
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
}
.Font__line span {
  content: '\2002';
  display: inline;
  background: var(--highlight-str);
  border: 3px solid var(--highlight-m);
  line-height: var(--line-height);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: right;
}
.Font__sansSerif {
  background-color: var(--highlight-w);
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  display: none;
}
.Font__monospace {
  background-color: var(--highlight-m);
  font-family: 'Source Code Pro', monospace;
  display: none;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
